<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Banking System</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Summary</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-icons.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center text-primary">Account Summary</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <h3><i class="bi bi-wallet-fill"></i> Checking Account</h3>
          <p><strong>Balance:</strong> $<%= checkingBalance %></p>
        </div>
        <div class="col-md-6">
          <h3><i class="bi bi-piggy-bank-fill"></i> Savings Account</h3>
          <p><strong>Balance:</strong> $<%= savingsBalance %></p>
        </div>
      </div>
      <div class="text-center mt-3">
        <a href="/" class="btn btn-primary">
          <i class="bi bi-house-fill"></i> Home
        </a>
      </div>
    </div>
  </body>
</html>
