<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-icons.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Registration Form -->
    <div
      class="container-fluid vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="col-md-6 col-lg-4 shadow p-4 bg-white rounded">
        <h2 class="text-center text-primary mb-4">Register</h2>
          <!-- Error message section -->
          <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-danger text-center" role="alert">
            <%= error %>
          </div>
          <% } %>
        <form action="/register" method="POST">
          <div class="mb-3">
            <label for="firstName" class="form-label">
              <i class="bi bi-person-fill"></i> First Name
            </label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">
              <i class="bi bi-person-fill"></i> Last Name
            </label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">
              <i class="bi bi-envelope-fill"></i> Email
            </label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">
              <i class="bi bi-lock-fill"></i> Password
            </label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-box-arrow-in-right"></i> Register
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
